.root {
    -fx-background-color: black;
    -fx-font-size: 18px;
}

.container {
    -fx-background-image: url(bg.jpg);
}

.label {
    -fx-text-fill: white;
}

.title {
    -fx-font-size: 32px;
}

.subtitle {
    -fx-font-weight: bold;
}

.blue {
    -fx-fill: rgba(0, 0, 255, 0.8);
}

.red {
    -fx-fill: rgba(255, 0, 0, 0.8);
}

.border {
    -fx-fill: rgba(255, 255, 255, 0.3);
}

.gameover {
    -fx-background-color: rgba(0, 0, 0, 0.8);
}